.footer {
	background-color: #3F3C56;
	background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}


.footer i {
	font-size: 30px;
	margin: 10px;
	color: #ED6183;
}

.footer p {
	color: white;
}